In [1]:
import pandas as pd
# import numpy
# import os

In [30]:
# df = pd.read_csv('https://raw.githubusercontent.com/numenta/NAB/master/data/realKnownCause/nyc_taxi.csv')
lst= {'timestamp':['2022-06-01 01:01:00', '2022-06-02 02:02:00', '2022-06-03 03:03:00', '2022-06-04 04:04:00'],
    'used':[1234, 2222,3333,4444]}
dfbefore = pd.DataFrame(lst)
dfbefore.head()

             timestamp  used
0  2022-06-01 01:01:00  1234
1  2022-06-02 02:02:00  2222
2  2022-06-03 03:03:00  3333
3  2022-06-04 04:04:00  4444

In [31]:
# df = pd.read_csv('https://raw.githubusercontent.com/numenta/NAB/master/data/realKnownCause/nyc_taxi.csv')
lst= {'timestamp':['2022-06-01 01:01:00', '2022-06-02 03:02:00', '2022-06-03 03:03:00', ''],
    'used':[1234, 2222,3333,4444]}
dfafter = pd.DataFrame(lst)
dfafter.head()

             timestamp  used
0  2022-06-01 01:01:00  1234
1  2022-06-02 03:02:00  2222
2  2022-06-03 03:03:00  3333
3                       4444

In [58]:
data_12 = dfbefore.merge(dfafter,                           # Merge DataFrames with indicator
                      indicator = True,
                      how = 'outer')
print(data_12)

             timestamp  used      _merge
0  2022-06-01 01:01:00  1234        both
1  2022-06-02 02:02:00  2222   left_only
2  2022-06-03 03:03:00  3333        both
3  2022-06-04 04:04:00  4444   left_only
4  2022-06-02 03:02:00  2222  right_only
5                       4444  right_only

In [60]:
data_12_diff = data_12.loc[lambda x : x['_merge'] == 'right_only']  # Remove shared rows
print(data_12_diff)

             timestamp  used      _merge
4  2022-06-02 03:02:00  2222  right_only
5                       4444  right_only

In [61]:
dfbefore.append(data_12_diff)

             timestamp  used      _merge
0  2022-06-01 01:01:00  1234         NaN
1  2022-06-02 02:02:00  2222         NaN
2  2022-06-03 03:03:00  3333         NaN
3  2022-06-04 04:04:00  4444         NaN
4  2022-06-02 03:02:00  2222  right_only
5                       4444  right_only